.handsome-man-barbershop-shavin-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1490px;
    height: 1080px;
    object-fit: cover;
}
.agendamento-e-hora1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #292929;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
.group-child {
    position: absolute;
    top: 708px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: #fff;
    width: 658px;
    height: 72px;
}
.lembre-se-atrasos {
    position: absolute;
    top: 725px;
    left: 55px;
    display: inline-block;
    width: 549px;
    height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.arrow-forward-24dp-e8eaed-fill {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #3abd0b;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 90px;
    height: 90px;
}
.arrow-forward-24dp-e8eaed-fill-icon {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.seta {
    position: absolute;
    bottom: 690px;
    left: 658px;
    width: 90px;
    height: 90px;
    cursor: pointer;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #d9d9d9;
    width: 486px;
    height: 78px;
}
.selecione-o-dia {
    position: absolute;
    top: 16px;
    left: 73px;
    background: linear-gradient(90deg, #8e5b28, #deb139);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 340px;
    height: 47px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-group {
    position: absolute;
    top: 0px;
    left: 81px;
    width: 486px;
    height: 78px;
    text-align: left;
    font-size: 40px;
    font-family: 'League Gothic';
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #fff;
    width: 657px;
    height: 64px;
    cursor: pointer;
}
.div {
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: 'League Gothic';
    text-align: left;
    display: inline-block;
    width: 50px;
    height: 30px;
}
.quinta-feira {
    position: absolute;
    top: 18px;
    left: 153px;
    display: inline-block;
    width: 181px;
    height: 28px;
}
.rectangle-icon {
    position: absolute;
    top: 0px;
    left: 590px;
    border-radius: 5px;
    width: 67px;
    height: 64px;
}
.icon {
    position: absolute;
    top: 7px;
    left: 599px;
    border-radius: 5px;
    width: 49px;
    height: 50.3px;
    object-fit: cover;
}
.horrios {
    position: absolute;
    top: 28.65px;
    left: 447px;
    font-size: 16px;
    display: inline-block;
    width: 89px;
    height: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-container {
    position: absolute;
    top: 0px;
    left: 1px;
    width: 657px;
    height: 64px;
}
.group-div {
    position: absolute;
    top: 510px;
    left: 0px;
    width: 657px;
    height: 64px;
}
.rectangle-parent1 {
    position: absolute;
    top: 170px;
    left: 1px;
    width: 657px;
    height: 64px;
}
.rectangle-parent2 {
    position: absolute;
    top: 85px;
    left: 1px;
    width: 657px;
    height: 64px;
}
.tera-feira {
    position: absolute;
    top: 18px;
    left: 153px;
    display: inline-block;
    width: 195px;
    height: 28px;
}
.rectangle-parent3 {
    position: absolute;
    top: 340px;
    left: 1px;
    width: 657px;
    height: 64px;
}
.rectangle-parent4 {
    position: absolute;
    top: 255px;
    left: 1px;
    width: 657px;
    height: 64px;
}
.group-child10 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #fff;
    width: 656px;
    height: 64px;
    cursor: pointer;
}
.div6 {
    position: absolute;
    top: 15.15px;
    left: 20.38px;
    font-family: 'League Gothic';
    text-align: left;
    display: inline-block;
    width: 49.9px;
    height: 30px;
}
.quarta-feira {
    position: absolute;
    top: 14px;
    left: 156.75px;
}
.horrios6 {
    position: absolute;
    top: 23px;
    left: 446.32px;
    font-size: 16px;
    display: inline-block;
    width: 88.9px;
    height: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.group-child11 {
    position: absolute;
    top: 0px;
    left: 590.1px;
    border-radius: 5px;
    width: 66.9px;
    height: 64px;
}
.icon6 {
    position: absolute;
    top: 7px;
    left: 599.09px;
    border-radius: 5px;
    width: 48.9px;
    height: 50.3px;
    object-fit: cover;
}
.rectangle-parent5 {
    position: absolute;
    top: 425px;
    left: 1px;
    width: 657px;
    height: 64px;
}
.grupo-dias {
    position: absolute;
    top: 113px;
    left: 0px;
    width: 658px;
    height: 574px;
    font-size: 30px;
    color: #000;
}
.rectangle-parent {
    position: absolute;
    top: 231px;
    left: 424px;
    width: 748px;
    height: 780px;
}
.image-16-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}
.frame-icon {
    position: absolute;
    top: 0px;
    left: 659px;
    border-radius: 20px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    cursor: pointer;
}
.vector-icon {
    position: absolute;
    height: 55.36%;
    width: 4.2%;
    top: 23.21%;
    right: 10.91%;
    bottom: 21.43%;
    left: 84.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.poit-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    background-color: #fff;
    width: 115px;
    height: 44px;
}
.cutpoint-17 {
    position: absolute;
    top: 7px;
    left: 17px;
    white-space: pre-wrap;
}
.poit {
    position: absolute;
    top: 3px;
    left: 469px;
    width: 115px;
    height: 44px;
}
.incio {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 65px;
    cursor: pointer;
}
.cortes {
    position: absolute;
    top: 0px;
    left: 86px;
    display: inline-block;
    width: 84px;
}
.horrios7 {
    position: absolute;
    top: 0px;
    left: 189px;
    display: inline-block;
    width: 105px;
}
.localizao {
    position: absolute;
    top: 0px;
    left: 313px;
    display: inline-block;
    width: 141px;
}
.inicio-etc {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 454px;
    height: 30px;
    font-family: Inter;
}
.frame-parent {
    position: absolute;
    top: 42px;
    left: 757px;
    width: 715px;
    height: 56px;
}
.agendamento {
    position: absolute;
    top: 11.96px;
    left: calc(50% - 397.99px);
    font-size: 90px;
    color: #fff;
    display: inline-block;
    width: 358px;
    height: 86px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.arrow-back-ios-24dp-e8eaed-fil-icon {
    position: absolute;
    top: 22px;
    left: 172px;
    width: 96px;
    height: 96px;
    object-fit: cover;
    cursor: pointer;
}
.barra-topo {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 9px 7px rgba(22, 22, 22, 0.79);
    background-color: #e3b63a;
    width: 1490px;
    height: 140px;
    overflow: hidden;
    text-align: left;
    color: #000;
    font-family: 'League Gothic';
}
.agendamento-e-hora {
    width: 100%;
    position: relative;
    background-color: #292929;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    color: #ff0000;
    font-family: Lekton;
}

