.fundo-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.tela-de-login-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    background-color: #d9d9d9;
}
.botao-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #efb004;
}
.entrar {
    position: absolute;
    height: 40.13%;
    width: 29.38%;
    top: 30.1%;
    left: 37.5%;
    display: inline-block;
}
.botao {
    position: absolute;
    height: 7.16%;
    width: 30.14%;
    top: 79.16%;
    right: 35%;
    bottom: 13.68%;
    left: 34.85%;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.digite-seus-dados {
    position: absolute;
    height: 6.83%;
    width: 73.29%;
    top: 36.53%;
    left: 15.64%;
    display: inline-block;
}
.barbeiro {
    position: absolute;
    height: 6.83%;
    width: 20.16%;
    top: 3.95%;
    left: 42.2%;
    display: inline-block;
}
.tela-de-login {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
}
.group-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #c9c9c9;
}
.senha {
    position: absolute;
    height: 35.36%;
    width: 17.86%;
    top: 31.37%;
    left: 4.3%;
    display: inline-block;
}
.rectangle-parent {
    position: absolute;
    height: 8.47%;
    width: 68.78%;
    top: 58.3%;
    right: 15.51%;
    bottom: 33.23%;
    left: 15.71%;
}
.emailusurio {
    position: absolute;
    height: 35.36%;
    width: 30.62%;
    top: 32.37%;
    left: 4.3%;
    display: inline-block;
}
.rectangle-group {
    position: absolute;
    height: 8.47%;
    width: 68.78%;
    top: 45.76%;
    right: 15.51%;
    bottom: 45.77%;
    left: 15.71%;
}
.group-inner {
    position: absolute;
    height: 17.37%;
    width: 28.26%;
    top: 10.78%;
    right: 36.51%;
    bottom: 71.86%;
    left: 35.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.tela-de-login-parent {
    position: absolute;
    height: 77.31%;
    width: 35.62%;
    top: 14.72%;
    right: 31.29%;
    bottom: 7.96%;
    left: 33.09%;
}
.fundo-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.barra-topo-child {
    position: absolute;
    top: 159px;
    left: 0px;
    background-color: #373737;
    width: 1906px;
    height: 890px;
}
.barra-topo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    box-shadow: 0px 9px 7px rgba(22, 22, 22, 0.79);
    background-color: rgba(227, 182, 58, 0.3);
    overflow: hidden;
}
.rectangle-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 17px;
    background-color: #fff;
    cursor: pointer;
}
.perfil-icon {
    position: absolute;
    height: 52.68%;
    width: 55.92%;
    top: 23.35%;
    right: 22.02%;
    bottom: 23.98%;
    left: 22.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.perfilfoto {
    position: absolute;
    height: 57.58%;
    width: 2.99%;
    top: 24.66%;
    right: 0%;
    bottom: 17.76%;
    left: 97.01%;
}
.logo-hw-icon {
    position: absolute;
    height: 100%;
    width: 5.34%;
    top: 0%;
    right: 94.66%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.barra {
    position: absolute;
    height: 71.14%;
    width: 96.81%;
    top: 14.04%;
    right: 1.47%;
    bottom: 14.82%;
    left: 1.72%;
}
.tela-preincipal {
    position: absolute;
    height: 10.56%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 89.44%;
    left: 0%;
}
.trocarpracliente-icon {
    position: absolute;
    top: 176px;
    left: 952px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}
.tela-de-login-barbeiro {
    width: 100%;
    position: relative;
    background-color: #292929;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 25px;
    color: rgba(103, 103, 103, 0.5);
    font-family: 'League Gothic';
}

